#container{
  width: 40%;
  max-height: 40%;
  margin: 10% auto;
  background-color: #f7f7f7;
  box-shadow: 3px 6px 8px rgba(76, 75, 75, 0.644);
  overflow: hidden;
}

h1{
  background-color: #45c556ee;
  color: white;
  margin: 0;
  padding: 1rem 20px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
}


ul{
  list-style: none;
  margin: 0;
  padding: 0;
}


.complete{
  color: grey;
  text-decoration: line-through;
}


.fa-plus-rotate {
  transform: rotate(-45deg);
  float: right;
}


@media only screen and (max-width: 800px) {
  #container{
    width: 70%;
  }
}

@media only screen and (max-width: 700px) {
  #container{
    width: 90%;
  }
}

@media only screen and (max-width: 322px) {
  #container{
    width: 95%;
  }
}





