.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 50%;
  animation-name: moveInDown;
  animation-duration: 2s;
}

.counter {
  animation-name: moveInUp;
  animation-duration: 2s;
  text-align: center;
  font-size: 15rem;
  opacity: .1;
  font-family: 'Black Ops One', cursive;
}

.ff {
  font-family: 'Pacifico', cursive;
}

.quote {
  font-size: 5rem;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .content {
    width: 90%;
  }
  .quote {
    font-size: 3rem;
  }

  .counter {
    font-size: 6rem;
    opacity: .1;
  }
}

@media only screen and (max-width: 500px) {
  .content {
    width: 90%;
  }
  .quote {
    font-size: 2.5rem;
  }

  .counter {
    font-size: 5rem;
    opacity: .1;
  }
}


@keyframes moveInUp {

  0% {
    opacity: 0;
    transform: translateY(200px);
  }

  80% {
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInDown {

  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  80% {
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
