

.add-icon {
  background-color: yellowgreen;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  position: absolute;
}


.icon {
  position: absolute;
  top: -1.5rem;
  left: 1.5rem;
  cursor: pointer;
}


@media only screen and (max-width: 800px) {
  .add-icon {
    position: absolute;
    right: 2.5rem;
    top: 61rem;
  }
}

@media only screen and (max-width: 500px) {
  .add-icon {
    position: absolute;
    right: 2.5rem;
    top: 51.5rem;
  }
}

@media only screen and (max-width: 400px) {
  .add-icon {
    position: absolute;
    right: 2.5rem;
    top: 46.5rem;
  }
}

@media only screen and (max-width: 329px) {
  .add-icon {
    position: absolute;
    right: 2rem;
    top: 38rem;
  }
}
