<div class="container">
  <h1 class="text-center">30 DAYS OF CODE</h1>

  <div class="row">
    <div class="col-6">
      <ol>
        <li><a href="javascript:void(0)" routerLink="click-counter">CLICK COUNTER</a></li>
        <li><a href="javascript:void(0)" routerLink="analog-clock">ANALOG CLOCK</a></li>
        <li><a href="javascript:void(0)" routerLink="bmi-calculator">BMI CALCULATOR</a></li>
        <li><a href="javascript:void(0)" routerLink="quote-generator">QUOTE GENERATOR</a></li>
      </ol>
    </div>
  </div>
</div>
